<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>95143245213-l226p2hgsuh1ukbp4c3ja4m01p38a95v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.95143245213-l226p2hgsuh1ukbp4c3ja4m01p38a95v</string>
	<key>API_KEY</key>
	<string>AIzaSyBumMf3x9vv1FVwom4n7ZXn7Q5V0607Rws</string>
	<key>GCM_SENDER_ID</key>
	<string>95143245213</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lts.aiTorTellYouAnAppointment</string>
	<key>PROJECT_ID</key>
	<string>just-ai-tor-tell-you</string>
	<key>STORAGE_BUCKET</key>
	<string>just-ai-tor-tell-you.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:95143245213:ios:bbf5431a9d5c17fd79eb74</string>
</dict>
</plist>